<!-- templates/_gallery.html -->
    
</script>
<!-- Fancybox CSS -->
<link rel="stylesheet" href="@@path/vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
<!-- Fancybox JS -->
<script src="@@path/vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>

<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
/>

<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<script>
  Fancybox.bind('[data-fancybox="gallery"]', {
    //
  }); 
  
  
</script>

