  <!-- Navbar -->

  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand ps-4" href="{% url 'index' %}"><h1></h1></a>

      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle fs-4" href="#" role="button" data-bs-toggle="dropdown">бирај језик</a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Englis <i class="flag flag-us"></i></a></li>
          <li><a class="dropdown-item" href="#">Српски</a></li>

        </ul>
      </div>
    </div>
  </nav>