<!-- templates/index.html -->

{% extends '_base.html' %}

{% block content %}
<h3>{{ chapter.name }}</h3>
<p class="lead">{{ chapter.text }}</p>
{% if images %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for image in images %}
      <div class="carousel-item 
      {% if forloop.counter == 1 %}
      active
      {% endif %}
      ">
        <img src="{{ image.imageInSett.url }}" class="d-block w-100" alt="{{ image.imageInSett }}">
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon table-primary" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  {% endif %}
</br></br></br>
<div><h4>Add Comment</h4>
    <form action="{% url 'index:chapter_comment_create' chapter.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
        {{ CommentForm }}
        </div>
        <input  type="submit" class="mb-5 btn btn-primary">
    </form>
</div>
  {% if comments %}

  {% for comment in comments %}
  
  {% if comment.chapter.id == chapter.id %}
  
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading{{ comment.id }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ comment.id }}" aria-expanded="false" aria-controls="flush-collapse{{ comment.id }}">
            {{ comment.name }}
        </button>
      </h2>
      <div id="flush-collapse{{ comment.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ comment.id }}" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
        <div class="row flex-nowrap">
            <div class="col-auto">
            <strong>{{ comment.text }}</strong>
        </div>
            <div class="col-6">
            {% if comment.image %}
            <img src="{{ comment.image.url }}" class="img-thumbnail" alt="{{ comment.image }}">
            {% endif %}
        </div>
    </div>
        </div>
      </div>
    </div>
 
  {% endif %}
  {% endfor %}
  {% endif %}</br></br></br></br>
{% endblock %} 

</div>