<!-- templates/index.html -->
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ЗЕОКЕ</title>
    <script src="{% static 'bootstrap5/index.js' %}"></script> 
    <link href="{% static 'bootstrap5/index.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'icon/favicon.ico' %}"/>
    <style>
      .bcground {
        margin: 0;
        padding: 0 8px;      
        box-sizing: border-box;
        background-image: url('{% static 'Kuca.png' %}');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      
      </style>
  </head>
  <body>
  <div class="bcground"> 
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid justify-content-end">
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle me-0 fs-4" href="#" role="button" data-bs-toggle="dropdown">Српски</a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item text-center" href="#">Srpski</a></li>
          <li><a class="dropdown-item border-top text-center" href="#">Englis <i class="flag flag-us"></i></a></li>

        </ul>
      </div>
    </div>
  </nav>
<div class="container-fluid p-1 text-center">
  <h1 class="display-1 fw-bold">З Е О К Е</h1>
  <div class="row">
    <hr class="col-4 offset-4">
  </div>
  <h3 class="text-uppercase pt-2">од настанка до нестанка</h3>
</div>
<div class="row align-items-center container-fluid">
  <div class="col-sm-12 col-md-9 col-xl-7 mx-auto container-fluid ps-5 pt-5 pt-1 text-center">
    <a class="btn btn-outline-dark card" href="{% url 'index:onama' %}" role="button" style="width:25rem">
      <div class="row g-0">
        <div class="col-4">
          <img src="{% static 'icon/onama.png' %}" class="img-fluid rounded-start" alt="icon">
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title text-uppercase">О НАМА</h5>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-9 col-xl-7 mx-auto container-fluid ps-5 pt-5 pt-1 text-center">
    <a class="btn btn-outline-dark card" href="{% url 'index:urediknjigu' %}" role="button" style="width:25rem">
      <div class="row g-0">
        <div class="col-4">
          <img src="{% static 'icon/knjiga.png' %}" class="img-fluid rounded-start" alt="icon">
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title text-uppercase">уреди књигу</h5>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-9 col-xl-7 mx-auto container-fluid ps-5 pt-5 pt-1 text-center">
    <a class="btn btn-outline-dark card" href="{% url 'index:stanovnistvo' %}" role="button" style="width:25rem">
      <div class="row g-0">
        <div class="col-4">
          <img src="{% static 'icon/drvo.png' %}" class="img-fluid rounded-start" alt="icon">
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title text-uppercase">СТАНОВНИШТВО</h5>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-9 col-xl-7 mx-auto container-fluid ps-5 pt-5 pt-1 text-center">
    <a class="btn btn-outline-dark card" href="{% url 'index:zeokekrozvremeiprostor' %}" role="button" style="width:25rem">
      <div class="row g-0">
        <div class="col-4">
          <img src="{% static 'icon/tri4.png' %}" class="img-fluid rounded-start" alt="icon">
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title text-uppercase">ЗЕОКЕ КРОЗ ВРЕМЕ И ПРОСТОР</h5>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-9 col-xl-7 mx-auto container-fluid ps-5 pt-5 pt-1 text-center">
    <a class="btn btn-outline-dark card" href="{% url 'gallery:gallery' %}" role="button" style="width:25rem">
      <div class="row g-0">
        <div class="col-4">
          <img src="{% static 'icon/galerija.png' %}" class="img-fluid rounded-start" alt="icon">
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title text-uppercase">ГАЛЕРИЈА</h5>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-9 col-xl-7 mx-auto container-fluid ps-5 pt-5 pt-1 text-center">
    <a class="btn btn-outline-dark card" href="{% url 'index:mesnazajednica' %}" role="button" style="width:25rem">
      <div class="row g-0">
        <div class="col-4">
          <img src="{% static 'icon/mesnaz.png' %}" class="img-fluid rounded-start" alt="icon">
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title text-uppercase">МЕСНА ЗАЈЕДНИЦА</h5>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-9 col-xl-7 mx-auto container-fluid ps-5 pt-5 pt-1 text-center">
    <a class="btn btn-outline-dark card" href="{% url 'index:lokacija' %}" role="button" style="width:25rem">
      <div class="row g-0">
        <div class="col-4">
          <img src="{% static 'icon/lokacija.png' %}" class="img-fluid rounded-start" alt="icon">
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title text-uppercase">ЛОКАЦИЈА</h5>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-9 col-xl-7 mx-auto container-fluid ps-5 pt-5 pt-1 text-center">
    <a class="btn btn-outline-dark card" href="{% url 'index:istorija' %}" role="button" style="width:25rem">
      <div class="row g-0">
        <div class="col-4">
          <img src="{% static 'icon/icon90.png' %}" class="img-fluid rounded-start" alt="icon">
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title text-uppercase">ИСТОРИЈА</h5>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-9 col-xl-7 mx-auto container-fluid ps-5 pt-5 pt-1 text-center">
    <a class="btn btn-outline-dark card" href="#" role="button" style="width:25rem">
      <div class="row g-0">
        <div class="col-4">
          <img src="{% static 'icon/icon90.png' %}" class="img-fluid rounded-start" alt="icon">
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title text-uppercase">преузми књигу</h5>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

  <div class="d-flex justify-content-end pe-5">
      <a href="{% url 'index:zaprati' %}" class="btn"><img src="{% static 'icon/fb.ico' %}" class="rounded-circle img-fluid" alt="Facebook"></a>
      <a href="{% url 'index:zaprati' %}" class="btn"><img src="{% static 'icon/ins.ico' %}" class="rounded-circle img-fluid" alt="Instagram"></a>
      <a href="{% url 'index:zaprati' %}" class="btn pe-5"><img src="{% static 'icon/twt.ico' %}" class="rounded-circle img-fluid" alt="Twitter"></a>
    </div>

</div>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top text-center">
    <div class="col-md-8 offset-md-4 d-flex align-items-center text-center">
      <span class="mb-3 mb-md-0 text-center">Зеоке од настанка од нестанка | zeokeorg.@gmail.com</span>
    </div>
  </footer>
</div>
</body>
</html>

