<!-- templates/index.html -->

{% extends '_base.html' %}


{% block content %}

<div class="container-fluid m-2 text-center">
  <br>
    <h2 class="pb-3">ИСТОРИЈА</h2>
  </div>
  <div class="row">
    <hr class="col-4 offset-4 border border-1 border-secondary border-end-0 border-top-0 border-start-0">
  </div>
  <br>
  <br>
  <ul class="list-group">
  <li class="list-group-item border-secondary">
    <p>
      <span class="fw-bold fs-5 text-secondary">
      1528–1530.
      </span>

    Први писани траг о постојању Зеока и његовим становницима, тј. најстарији који је пронађен и проучен
    током израде монографије. Пописано десет домаћинстава која се баве пољопривредом. Мештани поседују
    и млин, чиме се сврставају у добростојећа села. У односу на остала села Шумадијске Колубаре, Зеоке су са
    девет домова мало место. Село је једино веће од Пркосаве и Цветовца.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1536.
      </span>
      Дванаест домаћинстава. И даље плаћају порез на млин.
    </p>

  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1560.
      </span>
      Дванаест домаћинстава. Плаћају значајно већи порез у односу на попис из 1530. године.1530.
    </p>


  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1718–1739.
      </span>
      Период аустријске власти у овом делу Србије. Зеоке (Seozilj) се спомињу као једно од 75 насеља у
      Београдском дистрикту. Нема подробнијих података о стању у селу. Останак Зеочана на свом огњишту у
      време великих невоља и сеоба доста говори о истрајности становника да очувају своје село.
    </p>

  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1741.
      </span>
      Након великих миграција огњиште у Зеокама су одржала два домаћинства. Турски попис наводи Станоја
      Вукомановог и Мирка Миленковог.
    </p>

  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        2. јул 1789.
      </span>
      Белег (споменик) Јована Мијаиловића убележава овај датум када се он преставио Богу (преминуо). По
      предању споменик се налази на месту где су Турци убили манастирског ђака. У потоњим вековима ова
      локација ће бити позната као Ђаков белег.
    </p>

  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1804.
      </span>
      С почетком Првог српског устанка Зеочани узимају значајну улогу у ослобађању Србије. Један од вођа је
      Станоје Михаиловић, зеочки кнез. По ослобађању Србије настају динамичне друштвене и привредне
      промене. Током XIX века постоје бројни пописи и описи Зеока.
    </p>

  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        Почетак треће деценије XIX века.
      </span>
      Током овог периода у Зеокама је радио приватни учитељ. Учио је децу кнеза Николе Станојевића, као и
      децу из околних села.
    </p>

  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1824.
      </span>
      Први попис са именима и презименима домаћина. У Зеокама има 22 арачке главе. На зеочком гробљу
      постоје споменици домаћина са овог пописа: Аврама Петровића (Аврамовићи), Ђурађ Пантића (Пантелић,
      иначе Ђурђевић), Панте Пауновић, Радојице Јовичића.
    </p>

  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1833.
      </span>
      У једном од првих докумената по ослобађању Србије наводи се 37 пореских глава. Зеочких домаћина по
      којима се разрезује порез за појединачна домаћинства.
    </p>

  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1837.
      </span>
      Забележен први претплатник штампане периодике у Зеокама. Реч је о попу Илији Станојевићу, сину кнеза
      Николе. Илија је био пренумерант педагошког часописа „О васпитању деце”.
    </p>

  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1839 – 1844.
      </span>
      U Београду је излазио је књижевни часопис „Голубица”. У једном од бројева изашла песма попа Илије
      Станојевића. Oн постаје први забележени (издаван) песник из Зеока.
    </p>

  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1859.
      </span>
      Пописано 49 домаћинстава са значајним сточним фондом.
    </p>

  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1863.
      </span>
      Пописано 61 домаћинство са укупно 297 становника. Свима је земљорадња примарна делатност.
    </p>

  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1866.
      </span>
      Пописано 59 домаћинстава са укупно 379 становника.
    </p>

  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1874.
      </span>
      У Зеокама је пописан 441 становник. Сви су рођени у Кнежевини Србији. Нешто је више женског пола, око
      52 одсто. У опису Зеока је прибележен 21 становник који зна да чита и пише. Порез (данак грађански) плаћа
      86 домаћинстава, а једно плаћа бећарски.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1876–1878.
      </span>
      Два рата са Османским царством. У Србији не постоји списак жртава.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        17. март 1880.
      </span>
      „Општина барошевачка у срезу колубарском, даваће лицитацијом свој дућан у селу Зеокама на дан 6.
      априла ове 1880. год., под трогодишњу аренду. “
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1884.
      </span>
      Попис Kраљевине Србије. У Зеокама у 81 домаћинству живи 453 становника. По полу је становништво
      подељено скоро у једнаком износу. Прибележено је доста неожењених и неудатих, што говори о врло
      младом становништву. Писмених има 20, што је око пет процената укупног становништва. Нема страних
      држављана.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1885.
      </span>
      Рат са Бугарском. У Зеокама постоји споменик Миленку Пауновићу (1862–1885) који је погинуо на Сливници.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        13. фебруар 1892.
      </span>
      Током ноћи у Зеокама убијен хајдук Ђорђе Преловић. О догађају и последицма је нашироко писала штампа.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1895.
      </span>
      Попис Kраљевине Србије, последњи под династијом Обреновића. У Зеокама у 86 домаћинстава живи 539
      становника подељених у 88 задруга. По полу је стaновништво подељено скоро у једнаком износу. Деце до
      15 година има 255 или 47 процената. Старијих од 70 година има свега троје. Нема разведених.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        7. јун 1908.
      </span>
      На основу Закона о земљорадничким и занатлијским задругама основана је у Зеокама – Зеочка
      Земљорадничка Задруга.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        23. јун 1910.
      </span>
      Пруга уског колосека (0,76 центиметара) Лајковац–Аранђеловац предата главном саобраћају. Зеоке добијају
      железничку станицу. Укрсница Зеоке се налази на 58 километара пруге од Младеновца. Овим се знатно
      убрзава извоз пољопривредних производа из Зеока на тржнице Ваљева, Аранђеловца и других места, а
      подстиче се увоз индустријских производа који повећавају стандард Зеочана.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        3. август 1910.
      </span>
      Прва жетелица- везачица у Зеокама. Купили су је Милоје и Јовица Ђурђевић и Милан Гошнић.
      Балкански ратови 1912–1913. Не зна се број страдалих Ззеочана.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        Децембар 1914.
      </span>
      Ровови српске војске су били у Зеокама у Страни.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        Први светски рат 1914–1918.
      </span>
      На спомен- плочи у Барошевцу је уписано 76 погинулих Зеочана.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1. јул 1920.
      </span>
      Донесена уредба о формирању основне школе у Зеокама.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        24. март 1922.
      </span>
      Земљотрес јачине шест степени Меркалијеве скале са епицентром у селу Рудовци погодио овај део Србије.
      Иако је епицентар удаљен само осам километара од Зеока, у селу није било веће штете.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        Март 1929.
      </span>
      Новом територијалном организацијом Краљевине Југославије село Зеоке припада Дунавској бановини са
      седиштем у Новом Саду.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1933.
      </span>
      Изливањем Пештана праве се велике поплаве у атару Зеока.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1946.
      </span>
      У Зеокама се изводи позоришна представа „«Народни посланик»”
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1936.
      </span>
      Започета геолошка истраживања на површини данас познатој као Поље „Д” Колубарског угљенокопа.
      Изведено око 40 бушотина.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        20. март 1939.
      </span>
      Са радом започела пимница-крчма Радомира Р. Рајковића.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        27. септембар 1941.
      </span>
      Борбе у Рајковића крају, убијено четворо Зеочана.
      Други светски рат 1941–1945. Други светски рат. Према званичним подацима
      страдало 15 Зеочана.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1948.
      </span>
      У Зеокама се изводи позоришна представа „Народни посланик” Бранислава Нушића.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1950.
      </span>
      Уводи се струја у Зеоке. Акцију је водио партијски кадар Милан Пауновић, први председник Земљорадничке
      задруге у Зеокама.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        14. април 1952.
      </span>
      Почиње са радом продавница ЗЗ Зеоке. Први радници су Добросав Лазаревић, Негослав Дамњановић и
      Света Јанковић.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        3. септембар 1953.
      </span>
      Одобрава се Земљорадничкој задрузи из Зеока да може отворити угоститељску радњу под називом
      (фирмом) Ресторан Земљорадничке задруге из Зеока.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1959.
      </span>
      Први телевизор у Зеокама купују учитељи Добрица и Драгица Ивковић.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1961.
      </span>
      Почетак експропријације пољопривредних површина ради ширења копова.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        13. април 1961.
      </span>
      Поље „Д” почело dа ради.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1971.
      </span>
      Основан Фудбалски клуб „Рудар” у Зеокама.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1971.
      </span>
      Слободан Пауновић – Бушнер у Зеокама организује манифестацију „Сеоски музички сусрет аматера“, –
      такмичење певача аматера и инструменталиста.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1974.
      </span>
      У зеочком Дому културе приказују се филмови.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1975.
      </span>
      Основано Културно- уметничко друштво „Кнез Станоје”.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1975.
      </span>
      Почетак расељавања становништва и експропријације домаћинстава ради ширења копова.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        1976.
      </span>
      Зеочани добијају воду из водовода у Медошевцу.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        2008.
      </span>
      Основано Удружење виноградара, винара и љубитеља вина „Зеочки виногради“”.
    </p>
  </li>
  <li class="list-group-item border-secondary">
        <p>
      <span class="fw-bold fs-5 text-secondary">
        2014.
      </span>
      Поплава великих размера.
    </p>
  </li>
</ul>
</div>

{% endblock %}
