<!-- templates/onama.html -->

{% extends '_base.html' %}


{% block content %}
  <div class="container-fluid m-2 text-center">
    <br>
      <h3>О НАМА</h3>
    </div>
    <br>
    <div class="row">
      <hr class="col-8 offset-2 border border-secondary border-end-0 border-top-0 border-start-0">
    </div>

    <div class="container-fluid p-5 m-2">
      <div class="row">

        <div class="col-sm-12 col-md-10 pb-2 offset-md-1">
          <p>Окупљање, сабирање, тај диван глагол која чини нешто достојно у групи људи које везује заједничко
            порекло, географија или нешто скроз прозаично. Некад су се људи окупљали око огњишта, наше генерације
            памте заједничке тренутке око телевизора, нове су у свом свету. У виртуелном који носи много лошег и
            много доброг. Но окупљање мора постојати па сходно томе што се проредило оно традиционално; поред
            записа, школе, цркве, комшијског пенџера морамо наћи ново место.</p>
        </div>
        <div class="col-sm-12 col-md-10 pb-2 offset-md-1">
          <p>Зеочани су због земљишта на ком су градили своје животе остали без свог атара и физичке везе са својим
            прецима. Но успомене су и даље довољно јаке и свеже да негде морају избити. Овај сајт ће представљати
            такво место. Утемељен на књизи <span class="fst-italic"> Зеоке – од настанка до нестанка </span> надамо се да ће направити довољно
            простора за све који имају шта да кажу о Зеокама и Зеочанима. Књига је успела да подсети и у великој мери
            открије шта значи бити Зеочанин. Но то је тек прво слово а намера нам је да књига буде отворена.
            Сваки Зеочанин је и више него добродошао да учествују у расту ове веб локације. И не само Зеочани које
            повезује место рођења или порекла већ и они који су на неки начин били умешани у живот овог села. Овде
            ће моћи поставити своје утиске и сећања, скроз лаички или професионално у виду текстова, фотографија,
            филмова.</p>
        </div>
        <br>
        <div class="col-sm-12 col-md-10 offset-md-1">
          <p>Намера и није да ова веб локација буде коначна верзија. Традиција је жива само док се живи и макар она
            значила сабирање у виртуелном свету. И док год буде Зеочана који не заборављају одакле су трајаће и наш
            виртуелни дом. Од некуд се морају правити нови почеци а Зеоке имају јаке темеље да ти почеци могу
            прерасти у виртуелни дом Зеока и његовог становништва. Прошлог, садашњег и будућег које неће имати
            Зеочку адресу становања али ће носити заједнички дух формиран у плодној равници Пештана, благородној
            Зеочкој страни и текст.</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <hr class="col-8 offset-2 border border-secondary border-end-0 border-top-0 border-start-0">
    </div>
    <br>

    {% endblock %}