<!-- templates/index.html -->

{% extends '_base.html' %}


{% block content %}
<div class="container-fluid m-2 text-center">
  <br>
    <h3>СТАНОВНИСТВО</h3>
  </div>
  <br>
  <div class="row">
    <hr class="col-8 offset-2 border border-secondary border-end-0 border-top-0 border-start-0">
  </div>
  <br>
  <br>
<div class="row align-items-center container-fluid">

  <div class="accordion accordion-flush" id="accordionFlushExample">
    <!-- ACCORDIAN 1 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading-1">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-1" aria-expanded="false" aria-controls="flush-collapse-1">
          РОД МИХАЈЛОВИЋА
        </button>
      </h2>
      <div id="flush-collapse-1" class="accordion-collapse collapse" aria-labelledby="flush-heading-1" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <!-- ACCORDIAN INER 1 -->
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                  Јовичићи
                </button>
              </h2>
              <div id="collapse-1" class="accordion-collapse collapse" aria-labelledby="heading-1" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Пре података о попису становништва траг о Јовичићима налазимо на сеоском гробљу. Већ је поменуто
                  предање о Јовици по којем су узели презиме и претпоставци да се ради о Јовици Мијаиловићу. Ту у
                  непосредној близини, осим поменутог Радована који се упокојио 1807, сахрањени су, а и данас постоје
                  споменици, Мића (?- 1824), и Радоје (?-1824). Из писаних докумената не може се утврдити чији је Радојица
                  који је у првом нађеном попису од 1824. године носилац домаћинства, као и његов брат Радивоје. У
                  заједничком домаћинству са Радојицом, осим сина Јеремије, живи брат Радивоје и његови синови Петар и
                  Илија који се упокојио 1836. године. У прилог рођачких односа Станојевића и Јовичића, говори писмо које
                  Јаков пише Јеремији, између осталог, о стању некретнина које су зидали заједно са Радивојем где помиње и
                  „фуруну поред дућана у Барошевцу“. Када је поп Илија, Николин син, који је припадао Уставобранитељима,
                  отишао у изгнанство у Видин , његове две ћерке, Дамњанка и Даница, остају код Радивоја да се он брине о
                  њима, јер су Илијина рођена браћа, Јеремија и Јаков, већ отишли у Београд. На основу ових података може
                  се закључити да су Станојевићи и Јовичићи један, веома близак, род.
                  Није без значаја ни податак да су од 1831. године имали слуге јер су веома богати и нису могли сами да
                  обрађују имање. У попису стоке 1833. стоји да Радојица Јовичић има 70 брава, док цело село има 441. Ради
                  поређења богатства Јовичића, те године Шопић има 150, а Јунковац 95 брава. Тридесетих година XIX века
                  само домаћинство Јанка Рајковића било је богатије од Радојичиног.
                  Веома су били одани цркви и често је даривали. У барошевачкој цркви и данас постоји требник који је
                  даривао Радојица и на коме пише посвета: „Ову књигу откупи Радојица Јовичић из Зеока свом дому те
                  живим за здравље, мртвим за душу и поклони цркви Барошевачкој за вјечити свој спомен.” Павле и
                  Живомир су били монаси у Хиландару, а Павле се као монах и упокојио. Куће су им биле груписане у
                  Горњем крају, на крају села, до Сакуље, са десне стране пута. Последња кућа је припадала Грујици.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                  Јанковићи
                </button>
              </h2>
              <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Од првог тефтера који постоји за Зеоке, од 1824, налази се домаћинство Станојевић Јанка. У следећем
                  тефтеру из 1827, кућа Јанка Михаиловића Јанка је поред куће кнеза Николе Станојевића. У писму кнеза
                  Николе кнез Милошу, а у вези са молбом да дозволи да се Јанко ослободи жене, Никола Јанка слови као
                  Мијатовића, презименом које веома често користе фамилије из Горњег краја. Испоставиће се да су и поред
                  тога што користе презимена Михаиловић и Станојевић, ипак потомци Мијата и родбински везани за
                  Ђурђевиће, Јеремиће, Марковиће и Радовановиће. Уместо Јанка 1832/-33, као носилац домаћинства, је
                  уписан његов брат Матија поред чијег имена стоји да је „член магистрата”. Јанков син Иван 1839. узима
                  очево име за презиме, те се тада први пут појављују Јанковићи са својим данашњим презименом. Да ли
                  због писмености, коју је могао да стекне у Зеокама, или из неког другог разлога, углавном, крајем пете
                  деценије XIX века, Иван је „писар примитељног суда обштине барошевачке”“. Налазимо да је Иван 1847.
                  године дао помоћ за настрадале у пожару у Ивањици од четири талира, док је његов комшија, Јаков
                  Станојевић, начелник среза колубарског, извојио 56 талира. Првобитно су им куће биле искључиво у Горњем
                  крају, али су се касније поједине породице преместиле у Сређевац.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                  Марковићи
                </button>
              </h2>
              <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Једна од бројнијих фамилија у Горњем крају који су по истраживању Петра Ж. Петровића један род са
                  Михаиловићима. Једна фамилија Марковића потиче од Милоша (1835–1894) и Иване (1838–1902), који се
                  на пописима још презивају и Мијатовићи, те их треба родбински припојити Ђурђевићима, Јеремићима и
                  Радовановићима и Јанковићима, док „други“ Марковићи потичу од Живојина (1835–?) и Радојке (1838–?) који
                  се пописују и као Ђаковићи, презиме које користе фамилије везане за Михаиловиће. Сигурно је да их је
                  разликовао и Петар Ж. Петровић јер наводи да има две фамилије Марковић. Анализа ДНК је показала да су
                  потомци Милоша у роду Ђурђевића. У том случају једна од ове две фамилије је од рода Станојевића, а
                  претпоставља се са великом сигурношћу да је Живојинова лоза у истом роду са њима.
                  Куће су им биле у Горњем крају, осим куће Милошевог сина Милана који се преселио у Сређевац и ту имао
                  велико потомство. Било је још Марковића у Зеокама. Крајем педесетих година XIX века се „појављује“
                  Живко за којег у попису становништва и имовине 1963. пише да је надничар. Не ради се о зеочким
                  Марковићима већ о дошљаку. Осим Живка, у Зеокама обитава и Петар (1858–1900), ожењен Љубицом, који
                  је према матичним књигама Ром.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                  Николићи
                </button>
              </h2>
              <div id="collapse-4" class="accordion-collapse collapse" aria-labelledby="heading-4" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Током истраживања нису пронађени поуздани подаци на основу којих се са сигурношћу може тврдити чији су
                  синови Павле и Пантелија, који су преци Николићима. Павлову грану настављају синови Живојин, Спасоје и
                  Љубивоје, а Пантелијину Милош и Георгије (Ђорђе). Павлов син Љубивоје се оженио Лепосавом Аћимовић
                  из Бурова, преселио се у женину фамилију, тако да сада у Бурову има потомства ове зеочке фамилије, које
                  чини њен већи део. Припадају роду Михаиловића и, славе Ђурђиц.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                  Рајковићи
                </button>
              </h2>
              <div id="collapse-5" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Средином двадесетих година XIX века Мијаило Рајковић живи у одвојеном домаћинству од својих синоваца
                  Станојла, Станка, Јеремије, Јанка, Павла и Панте(лејмона). Пошто није имао мушког потомства, Мијаило,
                  који већ има 70 година, од 1834. године живи у заједничком домаћинству са синовцима. Због бројности
                  мушких глава, а самим тим и могућности да се обради доста земље, Рајковићи спадају у најбогатије зеочке
                  фамилије тога доба. Из тефтера се види податак да највеће државне дажбине дуги низ година управо они
                  плаћају. Од поменуте браће Рајковић, у истраживању њиховог потомства, зна се да је Јанко прерано
                  преминуо о чему сведочи и споменик који се налази иза капеле, а Панта – Пантелејмон највероватније није
                  имао мушког потомства, односно међу данашњим Рајковићима нема њихових потомака.
                  Станојлов син Радојица имао је Илију, Јеремија Стевана, Павле Алексија, а Станко Лазара и Стевана.
                  Најбројнија фамилија је Станковог сина Стевана који је имао синове Јеврема, Јелесија, Рајка и Костадина.
                  Цео Рајковића
                  крај се налазио до границе са Барошевцом и има се утисак да су били мало скрајнути. У новије време то се
                  огледало у томе што су у готово свим активностима за подизање друштвеног стандарда, електрификација,
                  изградња путева и водовода, били последњи на листи приоритета. Можда је и то разлог што су до краја свог
                  бивствовања у Зеокама остали хомогени и јединствени.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-6">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
                  Милојевићи
                </button>
              </h2>
              <div id="collapse-6" class="accordion-collapse collapse" aria-labelledby="heading-6" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Почетком друге деценије XIX века, тачније 1821. године, упокојио се Милоје Глигоријевић, који је иза себе
                  оставио синове Гаврила, Марка (имао сина Дамњана), Стојана (синови су му Лазар и Младен) и Мијаила,
                  који му подиже споменик. То је једна грана Милојевића. Родоначелник друге гране, јесте Пантелија
                  Глигоријевић Пантелија, којау настављају је његови синови, Никола (синови су му Дамњан и Светозар),
                  Јован (имао сина Јеремију) и Тома.
                  Због недостатка података не може се утврдити чији су синови Спасоје (1836–?) Ђурађ (1839–?) и Антоније
                  (1844–?) који се у матичним књигама воде као Јовановићи, а где стоји да Спасоје са женом Смиљаном
                  добија
                  синове Лазара (1859–?) и Јована (1861–?). Осим првобитног презимена Глигоријевић, у попису 1863. године,
                  уз име им стоји презиме Ђаковић, док се у матичним књигама уписују као Милојевићи.
                  Занимљиво је такође да у истом попису, редни број 2.256, Спасоје и његова два брата Ђурађ и Антоније,
                  носе два презимена: Ђаковић – Гошнић. Већ је напоменуто да је у матичне књиге крштених Спасоје
                  уписиван као Јовановић. Није без значаја напоменути да се „ђак из Зеока” “ звао Јован. Милојевићи су
                  многобројна, богата и значајна зеочка фамилија.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-7">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-7" aria-expanded="false" aria-controls="collapse-7">
                  Живановићи
                </button>
              </h2>
              <div id="collapse-7" class="accordion-collapse collapse" aria-labelledby="heading-7" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Презиме Живановић потиче , од Живана за кога нема података ко му је био отац, али му син Радојица
                  подиже белег који и данас стоји на зеочком гробљу. Нема године када се Живан престави, али је то било
                  сигурно пре 1927. године јер на попису налазимо само синове, Петра и Радојицу. Петар убрзо умире, а
                  његовог сина Арсенија подиже стриц Радојица. Још средином XIX века због великог поседа и обима послова
                  Радојица има слугу Николу Паића. Касније Живановићи продају део земље Ромима – ковачима, да би њима,
                  а и осталим Зеочанима, ковали и одржавали пољопривредни алат и остале кућевне предмете кућевне. Од
                  тада се извор повише Живановића кућа зове Цигански бунарић.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-8">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-8" aria-expanded="false" aria-controls="collapse-8">
                  Ранковићи
                </button>
              </h2>
              <div id="collapse-8" class="accordion-collapse collapse" aria-labelledby="heading-8" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Ретко која фамилија у Зеокама има толико различитих родова као Ранковићи. Једно презиме, а четири
                  фамилије са различитим пореклом. Староседеоци Ранковића воде порекло од Радојице и Ђурађа (1818–?),
                  које налазимо у пописима од 1827. године. Ђурађеви потомци су Стеван, Петроније и Костадин, а
                  претпоставка је да је Матија (1823–?) син Радојице.
                  У попису 1863. уписани су као Ђаковићи.
                  Други Ранковићи су потомци Јовице који је дошао у фамилију Милојевић, фамилију жени у кућу. Иначе
                  потиче од Ранковића из Вреоца, од оца Аксентија, који су стара вреочка породица. Јовица је одликован
                  Карађорђевевом звездом за исказану храброст у Првом светском рату. Славе Игњатовдан.
                  Из Сакуље у Зеоке се због заснивања брачних заједница селе два брата – Александар, који долази у кућу
                  удовици Милеви, и Бранисав код Љубице. Бранисав, његов син Ранисав и унук Бранко, посебно су заслужни
                  да Зеоке будуе познате по добром грожђу јер никада нису прекидали са узгојем стоних сорти винове лозе.
                  Славе Аћимовдан.
                  Има још једна фамилија Ранковића који су потомци Стевана, родом из Јабучја. Велики мајстор, може се
                  рећи и конструктор, Стеван је познат по томе што је половином XX века импровизовао и, направио, опрему
                  за цеђење сунцокретовог уља. Пошто није имао потомства усвојио је Мирослава – Меју из Дрена из
                  фамилије Дражић који је имао два сина који немају потомства.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-9">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-9" aria-expanded="false" aria-controls="collapse-9">
                  Мандићи
                </button>
              </h2>
              <div id="collapse-9" class="accordion-collapse collapse" aria-labelledby="heading-9" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Већ у првом тефтеру под редним бројем 13, срећемо Марка и Петра Мандића. Повремено их у тефтере
                  уписују и као Антонијевић, сигурно по оцу, Антонију. Осим ове породице, фамилију Мандић чине и потомци
                  Радосава Пантелића, који је вероватно син Пантелије Глигоријевића, родоначелника Милојевића, што би
                  значило да се ове две породице „раздвајају“ почетком XX века.
                  Куће су им биле смештене код Милојевића, тако да се може претпоставити да су један род, нарочито јер се
                  на попису 1863. Јаков, Петар и Јеремија презивају Ђаковић. Данашњи Мандићи су потомци две гране ове
                  фамилије: Јеремије, рођеног 1838. године и његове жене Марте, и Јакова, рођеног 1833. године и његове
                  жене Иконије. Јаковљеву грану настављају Радоје, Радован и Живан, а Јеремијину Драгутин и Иван. Петар
                  (1824–-1868) је са женом Милицом имао је сина Јеврема, али у документима нема Јевремовог потомства.
                  Славе Ђурђиц.
                </div>
              </div>
            </div>
          </div>
    <!-- ACCORDIAN INER END 1 -->
        </div>
      </div>
    </div>
    <!-- ACCORDIAN 2 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading-2">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-2" aria-expanded="false" aria-controls="flush-collapse-2">
          РОД ЂУРЂЕВИЋ
        </button>
      </h2>
      <div id="flush-collapse-2" class="accordion-collapse collapse" aria-labelledby="flush-heading-2" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
                              <!-- ACCORDIAN INER 2 -->
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                  Ђурђевићи
                </button>
              </h2>
              <div id="collapse-1" class="accordion-collapse collapse" aria-labelledby="heading-1" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Ђурђевићи – стари Мијатовићи, јесте као слоган који памте и данашњи Ђурђевићи.
                  Наиме у тефтерима се Ђурђевићи презивају Пантићи, Пантелићи, Мијатовићи. Само понекад Ђурђевић. У
                  матичним књигама уписивани су само као Ђурђевићи. Као што је већ речено, није утврђено ко је био Мијат,
                  а свакако је био један од старијих предака фамилија из Горњег краја. Познавајући обичај бирања
                  презимена, сигурно је да је уз Мијата постојао и Пантелија или, Панта по коме су преци Ђурђевића узимали
                  презиме. Најдаље што је наше истраживање досегло је да је предак свих Ђурђевића, Ђурађ Пантелић
                  (Пантић). Споменик му је био на старом гробљу у Ђурђевића њиви све док није због потребе рударских
                  радова премештен на садашње гробље у Ивковачи. Његови синови су били Ђорђе, Павле, Петар, Петроније
                  и Гаврило. Сви зеочки Ђурђевићи су потомци Ђурађа.
                  Као богата фамилија нису могли сами да позавршавају послове, па ангажују раднике који им помажу. Тако је
                  још Петар, син Ђурађа, имао радника Станоја Стевановића, Бошњака, који је до краја свог живота радио код
                  њега, о чему сведочи споменик на сеоском гробљу који је Петар подигао „свом раднику”. На споменику се
                  Петар уписује као Пантелић, по презимену свога оца. Ром родови у Липовом брду који су се населили после
                  Другог светског рата увек су били спремни да фамилији Ђурђевић, а и другим породицама из Горњег краја,
                  припомогну око пољских радова.
                  Када је, због промене друштвених околности, богатство постало знање и образовање, Ђурђевићи, а
                  нарочито потомци Петра, окрећу леђа њивама и ливадама и изучавају разне науке.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                  Јеремићи
                </button>
              </h2>
              <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Најстарији споменик који је на зеочком горобљу подигнут некоме од Јеремића фамилије, а да се може
                  прочитати, јесте споменик Митру Јеремићу који је живео 60 година, а умро 1807. Споменик му подиже ћерка
                  Милојка, па се
                  претпоставља да није имао мушког потомства чим му ћерка подиже споменик.
                  Стога се може тврдити да су Марко и Матија преци свим Јеремићима. Први пут их у тефтерима налазимо
                  1827. године када је под редним бројем 29 уписан Марко (1793–?), а касније у тефтеру 1829. године и његов
                  брат Матеја (Матија). Марко је од мушких потомака имао само Милована (1824–1887) који је имао пет
                  синова, а Матија Стевана (1830–1858) који није имао мушког потомства, и Радована (1836–1905) који је
                  имао три сина. Већина данашњих Јеремића су потомци Марка.
                  Матија је отац Станице која је била удата за Милутина Поповића, из Вреоца, који је, пре него што је постао
                  свештеник био учитељ, а што је записано у летопису вреочке цркве. Приликом истраживања, на гробљу је
                  пронађен Матијин споменик који је био срушен. Њихови домови били су у Горњем крају на левој страни пута
                  Зеоке – Сакуља, некада званом Турски пут.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                  Радовановићи
                </button>
              </h2>
              <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Презиме су добили по Радовану (Пантићу) Пантелићу (Мијатовићу) који је умро 1830. године и иза себе
                  оставио два сина, Ивана (1817–?) и Гаврила (1824–?). И ако су рано остали без оца, са само 12, односно
                  шест година, стасали су и основали породице. Иван је био угледан домаћин и као такав био је и кмет села. У
                  Крагујевцу на пчеларској изложби 1871. добио је прву награду за восак. Умро је 1876. године без мушког
                  потомства. Данашњи Радовановићи су потомци Гаврила.
                  Крајем XIX века, Радојица Радовановић био је општински писар.
                  У новије време најпознатији или најпотребнији био је Момчило који је е у војсци био болничар у војсци,
                  одакле је донео кутију у којој су били шприц и игле, па је својим сељанима „давао инјекције”.
                  Не треба занемарити чињеницу да родоначелник Радовановића има исто презиме као и Ђурађ,
                  родоначелник Ђурђевића, тако да се са великом сигурношћу може тврдити да су били рођена браћа и
                  потомци Панте – Пантелије.
                </div>
              </div>
            </div>
          </div>
    <!-- ACCORDIAN INER END 2 -->
        </div>
      </div>
    </div>
    <!-- ACCORDIAN 3 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading-3">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-3" aria-expanded="false" aria-controls="flush-collapse-3">
          РОД ПАУНОВИЋА
        </button>
      </h2>
      <div id="flush-collapse-3" class="accordion-collapse collapse" aria-labelledby="flush-heading-3" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
        <!-- ACCORDIAN INER 3 -->
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-1">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                Гошнићи
              </button>
            </h2>
            <div id="collapse-1" class="accordion-collapse collapse" aria-labelledby="heading-1" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Због пријатељства кнеза Станоја са Карађорђем, а касније и, женидбом Јеремије Станојевића ћерком
                Матије Ненадовића и директног сродства са Карађорђевићима, кнез Милош није био наклоњен
                Станојевићима. Та чињеница, је Милоша определила да често, готово увек, има непријатељски односа

                према карађорђевцима, а Станојевићи су то заиста једно време и били. Осим те чињенице, али и изузетна
                борбеност и храброст Павла
                Гошнића у Другом српском устанку, а посебно на планини Јелици у гоњењу Турака, 1815. године, Милоша је
                определила да Павла 1816. године постави за кнеза кнежине колубарске., По њему ова кнежина звала се
                Гошнићска или кнежина Гошнићева.
                Осим Павлове заслуге у борби за слободу, Гошнићи су дали две жртве чији споменик и данас стоји у
                Зеокама, Јеремију и његовог синовца Ђорђа који су „изгинули на Чачку 1816. г.” Овим истраживањем је
                доказано да су потомци поменутих погинулих устаника, тридесетих година XIX века ипак узели презиме
                Аврамовић.
                Период када је Павле био кнез кнежине Гошнњићеве, је уједно је и кратак прекид кнезовања породице
                Михаиловић Станојевић, тј. Станоја и после тога његовог синовца Николе. У Павловој кнежини 1818. године
                било је 24 села, 741 дом и 2019 арача, мушких глава од 7 до 70 година, а у Зеокама 25 домова и 79 арача.
                Павле савесно извршава све своје обавезе које су кнезови тога доба имали. У писму Димитрију Георгијевићу
                (Павлов ратни друг и први секретар кнеза Милоша) од 5. марта 1817,. пише да, од великог посла око
                прикупљања сена и дрва, није стигао да покупи порез, а осим тога је после посете Милошу у Јагодини ишао
                у кнежину Станковића, која се простирала од Железника до Црљени, да упозори кметове да „више не буде
                рђави људи”. У Архиву Србије, у збирци Мите Петровића, постоје писма које је Павле писао Милошу у вези
                са стањем у својој кнежини.
                Поводом прославе 50 година од Другог српског устанка, која је одржана 1865. године на Топчидеру,
                установљен је орден Таковског крста, који је кнез Михаило доделио свим живим устаницима. Ордење је
                изливено од првог топа кнеза Милоша. Осим ордена за живе устанике, за, „оне који су први устали са
                књазом Милошем 1815. године и војевали за народну слободу, али већ нису у животу”, њиховим породицама
                су уручене сребрне медаље. Медаље и дипломе које су их пратиле из окружја београдског су добиле
                породице:
                Из окружја београдског:
                Никола Катић из Рогаче
                Поп Ранко Митровић из Рудоваца
                Павле Гошњић из Зеока
                Ниџа Арсенијевић из Прогорелца
                Игуман Авакум Петровић из Рожанца (Новине Србске, год. XXXI бр. 57, 27. мај 1865.)
                У име Павла, медаљу је 1868. године примио његов син Радоје.
                Гошнићи су током XIX века доста бројна фамилија. Међутим, на гробљу у Ивковачи пронађено је тек
                неколико споменика, а најстарији је белег Петра (1835–1881). Непознато је где је белег кнеза Павла
                Гошнића који је свакако био значајан и богат бар толико да је потомство морало да му обележи гроб. Куће су
                им биле до Барошевца, па је једина одржива претпоставка да су сахрањивани на „маџарско” гробље у
                Кленевљу код Руске јаруге где, је, како пише Петар Ж. Петровић, било великих надгробних плоча (Петровић
                1949:163).
                Потомци ове славне зеочке породице су све до 2016. године живели у Зеокама, када су се преселили у
                Лазаревац. Гошњићи су један род са Пауновићима и Аврамовићима и славе Лучиндан.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-2">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                Аврамовићи
              </button>
            </h2>
            <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Тек после смрти Аврама Петровића 1834. године, чији се очуван споменик и данас налази на зеочком
                гробљу, његови синовци, које је Аврам одгајио, иначе синови Јеремије Петра Гошнића, који је погинуо у
                Другом српском устанку, Павле и Матија, узимају презиме по свом стрицу и тада се први пут у Зеокама
                појављује презиме Аврамовић. Чињеница да му синовци подижу споменик указује на податак да Аврам није
                имао (мушког) потомства. Због блиских родбинских односа, као и значаја фамилије Гошнић, у неколико
                наврата се и они у тефтерима изјашњавају и пописују као Гошнић. Тако су у попису 1863. године,. Милан и
                Милош Аврамовић уписани су као Гошнић, док код Матије стоје два презимена
                Аврамовић – Гошнић. Ове доказане чињенице потиру тврдњу да је „нека баба довела три сина, Пауна,
                Павла и Аврама из Хецеговине”. Можда је заиста баба довела три сина, али су се они свакако другачије
                звали.
                Грана Луке, Матејиног сина, је познатија је по његовој жени Сибинки.
                Уместо да добију надимак као српско-мађарски јунак Јанко Сибињанин, јер је исто порекло речи, Сибинкини
                потомци имају надимак Сибићи.
                У XIX веку два Аврамовића бавилa су се трговином. Павлу (1803–-1851) на споменику, који му подижу жена,
                ћерке и синовци,, пише да је био трговац, поштен. Петар Аврамовић је такође био трговац. Данашњи
                Аврамовићи, тачније речено, породица Милана је, у XX веку, најдуже од свих зеочких фамилија остала
                привржена земљорадњи и повртарству. И после пресељења из Зеока, у Бурову су се, у некој врсти
                задругарства, успешно бавили повртарством и доказaли да се уз велики и поштен рад, од пољопривредне
                делатности може зарађивати и пристојно живети. Најдоследнији у области виноградарства је био Живорад,
                син Димитрија и Даринке, који је до краја свог радног века обрађивао виноград. У сфери друштвеног живота
                другу половину XX века је обележио Радован – Ракинац, син Радисава.
              </div>
            </div>
          </div>
        </div>
  <!-- ACCORDIAN INER END 3 -->
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
