<!-- templates/index.html -->

{% extends '_base.html' %}


{% block content %}

<div class="container-fluid p-1 text-center">
  <h2>ЗЕОКЕ</h2>
  <h3>уреди књигу link</h3>
</div>
<div class="row align-items-center container-fluid">
  
  <div class="col-sm-12 col-md-6 col-xxl-4 mx-auto container-fluid pt-1 text-end">
      <div class="container-fluid p-3">
        <a href="#" class="btn"><h4>уреди књигу</h4></a>
        <p>по поглављима текстови и фотке народа</p>
      </div>
  </div>
</div>

{% endblock %}
