<!-- templates/index.html -->

{% extends '_base.html' %}


{% block content %}

<div class="container-fluid p-1 text-center">
  <h2>ЗЕОКЕ</h2>
  <h3>ЗАПРАТИ link</h3>
</div>
<div class="row align-items-center container-fluid"> 
  <div class="col-sm-12 col-md-6 col-xxl-4 mx-auto container-fluid pt-1 text-end">
      <div class="container-fluid p-3">
        <a href="#" class="btn"><h4>ЗАПРАТИ</h4></a>
        <p>обавештења из месне заједнице, нови текстови и слично. фејсбук и друге мреже</p>
      </div>
  </div>
</div>

{% endblock %}
