<!-- templates/index.html -->

{% extends '_base.html' %}


{% block content %}
{% load static %}
{% include '_gallery.html'%}

<div class="container-fluid p-1 text-center">
  <h1 class="fw-bold">УРЕДИ СЛИКЕ</h1>
    <div class="row">
    <hr class="col-4 offset-4 border border-1 border-secondary border-end-0 border-top-0 border-start-0">
  </div>
</div>

<!-- Gallery -->
</br>
<h3 class="container-fluid p-1 text-center">Да ли сте сигурни да оћете да избришете <span class="text-secondary">{{ image.name }}</span> слику?</h3>
</br>
<form class="text-center" action="" method="post" id="{{ image.id }}">
  {% csrf_token %}
  <input type="hidden" id="id" name="id" value="{{ image.id }}">

  <input class="btn btn-secondary btn-lg" type="submit" value="ОБРИШИ">
  <input class="btn btn-secondary btn-lg" type="submit" value="НАЗАД" onclick="window.location.href='{% url 'gallery:uredi' %}';return false;">
  <div class="bg-warning text-danger">{{ imgform.image.errors }}</div>
</form>
{% endblock %}