<!-- templates/index.html -->

{% extends '_base.html' %}


{% block content %}
{% load static %}
{% include '_gallery.html'%}

<div class="container-fluid p-1 text-center">
  <h1 class="fw-bold">ФИЛМОВИ</h1>
  <div class="row">
    <hr class="col-4 offset-4 border border-1 border-secondary border-end-0 border-top-0 border-start-0">
  </div>
  <h5 class="pt-2 pb-5">ОД НАСТАНКА ДО НЕСТАНКА</h5>
</div>


          <div class="justify-content-center row m-1">

      {% for image in gallery %}
    {% if image.gallery == 'FMS' %}

      <a class="btn btn-outline-secondary card m-1 p-2 " role="button"
        style="width: 320px"
        data-fancybox="gallery"
        data-src="{{ image.image.url }}"
        data-caption="{{ image.name}}"
        >

          <div class="card" style="overflow: hidden;  width: 300px;">
            {% if image.image300 %}
           <img class="card-img-top p-1" style="object-fit: contain;
           width: 300px;
           height: 300px;" src="{{ image.image300.url }}" />
           {% endif %}
          </div>
          <div class="col-auto">
            <div class="card-body">
              <h5 class="card-title text-uppercase">{{ image.name }}</h5>
            </div>
          </div>

      </a>
      {% endif %}
    {% endfor %}
  </div>











{% endblock %}
